@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  list-style: none;
}

body {
  background-color: #1a2336;
}

.main-container {
  background-color: #fff;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo label {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: flex-start;
}

.todo div {
  position: relative;
}

.todo div ul {
  border-radius: 0.5rem;
  background-color: #fff;
  position: absolute;
  width: 6rem;
  height: 0;
  top: 0;
  left: 1.2rem;
  padding: 0 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.todo div .expand {
  height: 4rem;
  padding: 0.5rem;
}
