@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}

button {
  width: 2rem;
  height: 2rem;
  color: black;
  background-color: white;
  border-radius: 0.2rem;
}
