@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  max-width: 680px;
}

.toolbar {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
}

button:hover {
  border: 2px solid #ccc;
}

.text-editor {
  margin-top: 1rem;
  padding: 1rem;
  min-height: calc(100dvh - 6rem);
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  cursor: text;
}
