@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-light: #8b97a0;
  --color-lighter: #fff;
  --color-accent: #df9d1a;
  --color-bg: #1e283e;
}

/* Support Classes */
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-light {
  font-weight: 400;
  color: var(--color-light);
  font-size: 1rem;
}

/* General Classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  color: var(--color-lighter);
}

body {
  height: 100dvh;
  background: linear-gradient(#1c1919 50%, var(--color-accent) 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background-color: var(--color-bg);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 90dvw;
  margin: 1rem;
}

.search-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.search-container input {
  background-color: var(--color-bg);
  border: 1px solid var(--color-light);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
  max-width: 63dvw;
}
.search-container button {
  background-color: var(--color-accent);
  color: #000;
  border: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.movie-container {
  height: 0;
  overflow: hidden;
}

.movie-data {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.movie-data img {
  max-width: 100%;
}

.main-container .data-wrapper {
  justify-content: flex-start;
}

.data-wrapper h1 {
  font-size: 1.6rem;
  margin: 1rem 1rem 0.8rem 1rem;
}

.rating {
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.info {
  flex-direction: row;
  gap: 1rem;
}

.genres {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.genres > div {
  border: 1px solid var(--color-light);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}

.movie-info h2 {
  padding-top: 1.5rem;
  font-size: 1.2rem;
}

.notFound {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;
}

@media (max-width: 500px) {
  body {
    align-items: flex-start;
  }

  .movie-data {
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .movie-data img {
    max-width: 250px;
    justify-self: center;
  }
}
