@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.main-container {
  position: relative;
  background-color: #fff;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.wrapper-form {
  display: flex;
  width: 900px;
  transition: all 300ms ease-in-out;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.screen h2 {
  color: #888;
  padding: 3rem 0;
}

.screen input {
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 1px solid #aaa;
}

::placeholder {
  color: #888;
}

.screen label {
  font-size: 0.9rem;
  color: #888;
}

.screen .birthDate-wrapper {
  display: flex;
  gap: 1rem;
}

.btn-wrapper {
  margin-top: 1rem;
}

.btn-wrapper button {
  margin: 0 0.5rem;
  color: #fff;
  background-color: #1565c0;
  width: 6rem;
  height: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2rem;
}

.steps-bar {
  width: 300px;
  height: 2rem;
  position: relative;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 2rem;
  background-color: #0c4d97;
  color: #fff;
  font-size: 0.8rem;
  transition: left 300ms ease-in-out;
}

.step::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -1rem;
  top: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #0c4d97;
}

.step-1 {
  z-index: 2;
  top: 0;
  left: 0;
}

.step-2 {
  left: 20px;
  background-color: #1565c0;
  z-index: 1;
}

.step-2::after {
  border-left: 1rem solid #1565c0;
}

.step-3 {
  left: 40px;
  background-color: #2d82e4;
}

.step-3::after {
  border-left: 1rem solid #2d82e4;
}
