@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  position: relative;
  background-color: dodgerblue;
  height: 100dvh;
}

.main-container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
}

.wrapper-form {
  display: flex;
  width: 900px;
}

.screen {
  width: 300px;
  height: 400px;
}
